//@media only screen and (max-width: 576px) {
//  #logoImage {
//    display: none;
//  }
//}

#logoImageMobile {
  display: none;
}

#mobileImg {
  width: 60px;
}

#logoImageMobile {
  width: 60px;
  //margin-left: calc(50% - 30px);
}

.facebookMobile {
  display: none !important;

  opacity: 0.7;
}

.facebookDesktop {
  //right: 5%;
  font-size: 1.3em !important;

  opacity: 0.7;
}

.carousel-inner {
  overflow: hidden;
  min-height: 300px !important;
  max-height: 500px !important;
}

.carousel-inner img {
  min-height: 100% !important;
  max-height: 100% !important;
  width: auto;
}



.carousel-inner img{
  width: 120% !important;
}


#logoImage {
  width: 130px;
}

#navbarSelect {
  margin-top: 50px;
}

body {
  background-color: white;
}

.navbar {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;

  width: 100%;

  font-size: 1.2em;
}

.nav-item {
  margin: 5px;
}

/* stroke */
.stroke,
.stroke {
  position: relative;
}
.stroke:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
.stroke:hover:after {
  width: 100%;
}

.stroke,
.stroke:after,
.stroke:before {
  transition: all .2s;
}
.stroke:hover {
  color: #555;
}

body {
  width: 100% !important;
  font-family: 'Raleway', sans-serif;
}

//.container {
//  margin: 0;
//  padding: 0;
//  width: 100% !important;
//}


.bodyContainer {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0;
    width: 100% !important;
}



.carousel-inner img {

  //width: auto !important;
  //height: 550px;
  //max-height: 550px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.banner {
  width: 100%;
  background-color: ghostwhite;
  text-align: center;
  min-height: 80px;

  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 1.3em;
}

.navbar .navbar-collapse {
  text-align: center;
}

.nomargin {
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

footer {
  text-align: center;
  background-color: ghostwhite;
  font-size: 1.2em;
  height: 100%;
  padding-top: 1%;
}

.navbar-toggler {
  border: none;
}

.slightMargin {
  margin-left: 2.6em;
}

.widgets {
  background-color: inherit;
}

.row {
  width: 100% !important;
}



.widgets .col-sm{
  height: 20em;
  width: 10em;
  overflow: hidden !important;
}

.hvrbox {
  overflow: hidden;
}

//.image {
//  opacity: 1;
//  display: block;
//  width: 100%;
//  height: auto;
//  transition: .5s ease;
//  backface-visibility: hidden;
//}
//
//.middle {
//  transition: .5s ease;
//  opacity: 0;
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//  -ms-transform: translate(-50%, -50%);
//  text-align: center;
//}
//
//.col-sm:hover .image {
//  opacity: 0.3;
//}
//
//.col-sm:hover .middle {
//  opacity: 1;
//}
//
//.text {
//  color: black;
//  font-size: 1.3em;
//  padding: 16px 32px;
//}

.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}
.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  cursor: pointer;
}
.hvrbox img {
  max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
  display: block;
}
.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}
.hvrbox .hvrbox-text {
  text-align: center;
  font-size: 1.5em;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}
.hvrbox.active .hvrbox-text_mobile {
  display: block;
}

.moreInfo {
  font-size: 0.7em;
}

//.widgets .col-sm {
//  height: 20vw;
//  overflow: hidden;
//}

.img-responsive {
  width: 100%;
  height: 100%;
  overflow-y: hidden;

  padding: 0;
  //margin: 0;

  margin-top: 15px !important;
  padding-top: 15px;

  -webkit-filter: blur(0);
  filter: blur(0);

  filter: brightness(100%);

  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;

}

.image-text {
  text-align: center;
  font-size: 1.7em;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: whitesmoke;
  opacity: 0;
  visibility: hidden;

  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.col-sm:hover {

  .img-responsive {
    -webkit-filter: blur(2px);
    filter: blur(2px);

    filter: brightness(40%);
  }

  .image-text {
    visibility: visible;
    opacity: 1;

  }

  cursor: pointer;
}

.row {
  padding: 0;
  //margin: 0;

}

html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -60px;
  padding-bottom: 60px;
}
footer {
  height: 60px;
}

.beginning {
  margin-top: 80px;
  //overflow-y: hidden;
}

/* mobile navbar */
@media (max-width: 991px) {

}